In [12]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.model_selection import train_test_split

In [13]:
movies = pd.read_csv("data/movies.csv")
ratings = pd.read_csv("data/ratings.csv")

In [14]:
ratings.drop('timestamp',axis=1,inplace=True)

In [16]:
ratings.userId = ratings.userId.astype('category').cat.codes.values
ratings.movieId = ratings.movieId.astype('category').cat.codes.values

In [26]:
ratings

        userId  movieId  rating
0            0        0     4.0
1            0        2     4.0
2            0        5     4.0
3            0       43     5.0
4            0       46     5.0
...        ...      ...     ...
100831     609     9416     4.0
100832     609     9443     5.0
100833     609     9444     5.0
100834     609     9445     5.0
100835     609     9485     3.0

[100836 rows x 3 columns]

In [150]:
X = np.array([ratings['userId'], ratings['movieId']]).T
Y = np.array(ratings['rating'])

In [160]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=X[:,0])

In [161]:
movie_train_index = X_train[:,1]
movie_test_index = X_test[:,1]

In [167]:
movie_train_index = X_train[:,1]
movie_test_index = X_test[:,1]
deleted_index = []

for index,element in enumerate(movie_test_index):
    if element not in movie_train_index:
        X_train = np.concatenate((X_train,X_test[index,:].reshape((1,2))),axis=0)        
        y_train = np.append(y_train,y_test[index])
        deleted_index.append(index)

X_test = np.delete(X_test,deleted_index,axis=0)
y_test = np.delete(y_test,deleted_index)