## Data Analysis

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

movies = pd.read_csv("data/movies.csv")
ratings = pd.read_csv("data/ratings.csv")

In [2]:
ratings

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [3]:
movies.head(5)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings.drop('timestamp',axis=1,inplace=True)

In [5]:
movies.drop('genres',axis=1, inplace=True)

In [6]:
merged_df = ratings.merge(movies, how='left', on='movieId')

In [7]:
merged_df.userId = merged_df.userId.astype('category').cat.codes.values
merged_df.movieId = merged_df.movieId.astype('category').cat.codes.values

In [8]:
len(merged_df.userId.unique())

610

In [9]:
len(merged_df.movieId.unique())

9724

Let's create a movie index and title dictionary for future use

In [10]:
movie_dict = merged_df.groupby(['movieId']).max().drop(['userId','rating'],axis=1).to_dict()

In [11]:
movie_dict = movie_dict['title']

In [12]:
movie_dict[0]

'Toy Story (1995)'

movieId    0
rating     0
title      0
dtype: int64

## Item-Based Recommender - Matrix Factorization

The idea is to have an utility matrix R where each row is an user instance and each column a movie

In [5]:
R = pd.pivot_table(data=ratings,values='rating',index='userId', columns='movieId')

In [6]:
R

movieId,0,1,2,3,4,5,6,7,8,9,...,9714,9715,9716,9717,9718,9719,9720,9721,9722,9723
userId,,,,,,,,,,,,,,,,,,,,,
0,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
605,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
606,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Our objetive is for our recommender to learn a set of features for the movies (x0,x1,..,xk) and a set of weights for each user (theta0,...,thetak) that represents their preference for each of the features x each movie has.  For a certain user i the dot product x(i,k)*theta(i) should give us a the predicted rating r(i,k) our user would assign to movie k.

Therefore for all users and movies our problem can be translated to finding two matrices X,Theta containing the movie features and user preferences such that X*Theta=R with R our user-rating matrix. This is called Matrix Factorization and how we approach it will greatly impact the scalability and speed of our Recommender.

However, creating this matrix explicitly takes a lot of computing power and great amounts of RAM memory. One of the advantages of matrix factorization is to reduce
this matrix into two smaller matrices (it is fundamentally dimensionality reduction). One of the advantages of using Stochastic Gradient Descent is that we will perform our calculations for each user-rating pair, therefore calculating this matrix will not be necessary.

First let's create for convenience some indices with our users and movies

In [7]:
n = len(ratings['userId'].unique()) ## number of unique users
m = len(ratings['movieId'].unique()) ## number of unique movies

In [16]:
X = np.array([merged_df['userId'], merged_df['movieId']]).T
Y = np.array(merged_df['rating'])
r = Y.shape[0] ## number of ratings

In [17]:
X.shape

(100836, 2)

In [71]:
n = np.unique(X[:,0]).shape[0] ## number of u
m = np.unique(X[:,1]).shape[0]

In [72]:
n

610

Our matrix factorization will then reduce to find the appropiate U and M matrices of size nxk and mxk respectively. Where k is the number of latent features for movie and user taste, a parameter we can tweak to increase our model's performance

## Stochastic Gradient Descent

EXPLAIN HERE SGD, LOSS FUNCTION AND UPDATE

Now let's initialize our matrices and vectors

In [9]:
k=15

mu = np.mean(Y)

In [10]:
def initElements(n,m,k,random_state=None):
    np.random.seed(seed=random_state)
    U = np.random.rand(n,k)
    M = np.random.rand(m,k)
    bu= np.random.rand(n)
    bm= np.random.rand(m)
    return U,M,bu,bm

In [11]:
U,M,bu,bm = initElements(n,m,k)

In [12]:
def PredictRating(user,movie):
    return mu + bu[user]+bm[movie] + np.dot(U[user],M[movie])

In [13]:
lr = 0.001
l=0.01
n_epoch = 30
for epoch in range(n_epoch):
    for elem in range(r):
        user = X[0,elem]
        movie = X[1,elem]
        prediction = mu + bu[user]+bm[movie] + np.dot(U[user],M[movie])
        err = Y[elem] - prediction
        U[user] += lr*(err*M[movie]-l*U[user])
        M[movie] += lr*(err*U[user]-l*M[movie])
        bu[user] += lr*(err - l*bu[user])
        bm[movie] += lr*(err - l*bm[movie])

Now let's test the error on the training set

In [14]:
ratings_pred = np.empty([r])
for elem in range(r):
    user = X[elem,0]
    movie = X[elem,1]
    ratings_pred[elem] = PredictRating(user,movie)

In [38]:
se = np.sum(np.square(Y - ratings_pred))
mse = se/r
rmse = np.sqrt(mse)
mse

0.7552134813505842

In [ ]:
rmse

In [24]:
# np.save('U_matrix', U)

In [25]:
# np.save('M_matrix', M)

## Wrapping our model in scikit-learn object

In [73]:
from sklearn.base import BaseEstimator, RegressorMixin

In [79]:
class MFsgd():
    def __init__(self, latent_features = 25, n_epoch = 30, learning_rate = 0.001,
                 regularization = 0.01, shuffle = False, warm_start = False, random_state = None):
        self.k = latent_features
        self.n_epoch = n_epoch
        self.learning_rate = learning_rate
        self.reg = regularization
        self.random_state = random_state
        
        
    def init_params(self,X,Y):    
        
        np.random.seed(seed=self.random_state)
        self.r = Y.shape[0] ## number of ratings
        self.n = X_train[:,0].shape[0]## number of users
        self.m = X_train[:,1].shape[0] ## number of movies
        self.U = np.random.rand(self.n,self.k)
        self.M = np.random.rand(self.m,self.k)
        self.bu= np.random.rand(self.n)
        self.bm= np.random.rand(self.m)
        self.mu = np.mean(Y)
        
    def predict_rating(self,user,movie):
        return self.mu + self.bu[user]+self.bm[movie] + np.dot(self.U[user],self.M[movie])
    
    def transform(self,X):
        size = X[:,0].shape[0]
        y_hat = np.empty([size])
        for elem in range(size):
            user = X[elem,0]
            movie = X[elem,1]
            y_hat[elem] = mf.predict_rating(user,movie)
        return y_hat
    
    def calc_error(self,X,Y):
        size = X[:,0].shape[0]
        se = np.sum(np.square(Y - self.transform(X)))
        mse = se/size
        rmse = np.sqrt(mse)
        return mse
    
    def sgd_step(self,X,Y):
        
        for elem in range(self.r):
            user = X[elem,0]
            movie = X[elem,1]
            lr = self.learning_rate
            l = self.reg
            prediction = self.predict_rating(user,movie)
            err = Y[elem] - prediction
            self.U[user] += lr*(err*self.M[movie]-l*self.U[user])
            self.M[movie] += lr*(err*self.U[user]-l*self.M[movie])
            self.bu[user] += lr*(err - l*self.bu[user])
            self.bm[movie] += lr*(err - l*self.bm[movie])
            
            
    def fit(self,X,Y):
        self.init_params(X,Y)
        self.present_epoch = 0
        for epoch in range(self.n_epoch):
            self.present_epoch += 1
            print('Training epoch... ({}/{})'.format(self.present_epoch,self.n_epoch))
            self.sgd_step(X,Y)

Now we need to split our data into a training and test set (at least). However we must be careful, as all users should be present in the training set.

The inclusion of new users is a different problem altogether.

In [80]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size = 0.2, stratify=X[:,0])

In [81]:
mf = MFsgd(random_state=42,n_epoch=60, latent_features=30)

In [82]:
mf.fit(X_train,y_train)

Training epoch... (1/60)
Training epoch... (2/60)
Training epoch... (3/60)
Training epoch... (4/60)
Training epoch... (5/60)
Training epoch... (6/60)
Training epoch... (7/60)
Training epoch... (8/60)
Training epoch... (9/60)
Training epoch... (10/60)
Training epoch... (11/60)
Training epoch... (12/60)
Training epoch... (13/60)
Training epoch... (14/60)
Training epoch... (15/60)
Training epoch... (16/60)
Training epoch... (17/60)
Training epoch... (18/60)
Training epoch... (19/60)
Training epoch... (20/60)
Training epoch... (21/60)
Training epoch... (22/60)
Training epoch... (23/60)
Training epoch... (24/60)
Training epoch... (25/60)
Training epoch... (26/60)
Training epoch... (27/60)
Training epoch... (28/60)
Training epoch... (29/60)
Training epoch... (30/60)
Training epoch... (31/60)
Training epoch... (32/60)
Training epoch... (33/60)
Training epoch... (34/60)
Training epoch... (35/60)
Training epoch... (36/60)
Training epoch... (37/60)
Training epoch... (38/60)
Training epoch... (39/60)
Training epoch... (40/60)
Training epoch... (41/60)
Training epoch... (42/60)
Training epoch... (43/60)
Training epoch... (44/60)
Training epoch... (45/60)
Training epoch... (46/60)
Training epoch... (47/60)
Training epoch... (48/60)
Training epoch... (49/60)
Training epoch... (50/60)
Training epoch... (51/60)
Training epoch... (52/60)
Training epoch... (53/60)
Training epoch... (54/60)
Training epoch... (55/60)
Training epoch... (56/60)
Training epoch... (57/60)
Training epoch... (58/60)
Training epoch... (59/60)
Training epoch... (60/60)

In [83]:
mf.calc_error(X_test,y_test)

0.8809380413325603

In [77]:
y_pred = mf.transform(X_test)

In [78]:
se = 0
se = np.sum(np.square(y_test - y_pred))
mse = se/(y_pred.shape[0])
rmse = np.sqrt(mse)
mse

0.8934998758546078

In [100]:
# from sklearn.model_selection import GridSearchCV

# param_grid = {'k': [15, 20, 30],
# 'regularization' : [0.01,0.001],}

# gscb = GridSearchCV(mf,param_grid,n_jobs=-1)